.proyectoContainer{
     
}
.proyectoContainer ul:hover {
		 border-radius: 78px 47px 85px 47px;
		 -moz-border-radius: 78px 47px 85px 47px;
		 -webkit-border-radius: 78px 47px 85px 47px;
		 border: 2px groove #bf54bf;
		 color:white;
		}
	*{
	 background-color:green;
	}
	
	.encabezado{
		text-align:center;
		  font-family: "Brush Script MT", Cursive;
		  font-size:30px;
		  color:white;
		  background-color:green;
		
	}
	
	