
.bloque{
	width:500px;
	height:500px;
	background:#fff;
	padding:10px;
	border:10px solid #2C3E50;
	margin:20px;
	display:-webki-flex;
	display:-ms-flexbox;
	display:flex;
	
	flex-direction:row;
	flex-wrap:wrap;
	
}
.subbloquepdf{
	color:#fff;
	margin:5px;
	width:200px;
	height:200px;
	background:#E67E22;
	text-align:center;
}
.subbloquecenec{
	color:#fff;
	margin:5px;
	width:200px;
	height:50px;
	background:#E67E22;
	text-align:center;
}
.subbloqueproyecto{
	color:#fff;
	margin:5px;
	width:200px;
	height:50px;
	background:#E67E22;
	text-align:center;
}

.proyectoContainer ul:hover {
		 border-radius: 78px 47px 85px 47px;
		 -moz-border-radius: 78px 47px 85px 47px;
		 -webkit-border-radius: 78px 47px 85px 47px;
		 border: 1px groove #bf54bf;
		 color:white;
		}
		
	*{
	 background-color:green;
	}
	.h1{
		text-align :center;
		  font-family: "Brush Script MT", Cursive;
		  font-size:30px;
		  color:white;
		
	}
	.encabezado{
		
		  
		
	}
	
	